@use './fonts.scss';
@use './vendors/reset';
@use './variables.scss';
@use './lenis.scss';

body {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  overflow-x: hidden;
}

.title {
  font-size: 54px;
  font-weight: 800;
}

h4 {
  font-size: 18px;
  font-weight: 800;
}

.menu-item {
  font-size: 14px;
  font-weight: 700;
  @media screen and (max-width: 760px) {
    font-size: 8px;
  }
}

.transition-layer {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: white;
  pointer-events: none;
  z-index: 10;
  opacity: 0;
}
